<h1>KRAngular - NCC1701 Enterprise</h1>

<p>Code it up for module : <strong>{{model.pageTitle}}</strong></p>

<button class="btn btn-primary" ng-click="" ui-sref="root.home">go Home</button>
<p><hr></p>
<button class="btn btn-primary" ng-click="showH1()">Show H1</button>
<button class="btn btn-primary" ng-click="showSearch()">Search!</button>


<div class="container">

    <div>
        <hr />
        <h1 class="my-animation" ng-show="showDiv1">
            Wellcome to ngAnimate! :D
        </h1>
    </div>
</div>

<div class="well my-animation" style="margin-top: 30px; width: 90%; overflow: hidden;" ng-show="showDiv2">
    <form class="form-search"> 
    <div class="input-group">
        <input type="search" ng-model="q" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <ul class="nav nav-pills nav-stacked">
        <li class="animate-repeat" ng-repeat="friend in friends| filter:q as results">
            {{friend.name}}
        </li>
        <li class="animate-repeat" ng-if="results.length == 0">
            <strong>No results found...</strong>
        </li>
    </ul>
    </form>
</div>